/*.Chart {
    text-align: center; /* Centers the content inside the Chart div 
  }
  
  .ChartTitle {
    font-weight: bold; /* Makes the title bold 
    font-size: 24px;   /* Optional: Adjust the font size
    margin-bottom: 20px;
  } */
