.AssignmentRubric {
    &__title {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.2rem;
        padding-top: 20px;
    }

    &__noRubric {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

    }

    &__noRubricTitle {
        padding-bottom: 30px;

    }
}