.Creation {
    &__buttonWrapper {
        margin-top: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__message {
        text-align: center;
        font-size: var(--font-size-s);
        color: var(--brand);
        padding: 3px;
    }
}