.Organization {
    text-align: center;
    width: 350px;
    margin: 0 auto;

    &__buttonWrapper {
        padding: 10px;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: auto;
    }

    &__link {
        color: var(--primary-text);
        text-decoration: underline;
        cursor: pointer;
        text-align: center;
        font-size: 0.9em;
        display: block;
        padding-top: 10px;
        margin-top: 30px;
    }

    a {
        flex: 1;
        width: 100%;
    }

    .Button {
        flex-grow: 1;
        width: 100%;
    }
}