.Organization {
    text-align: center;
    width: 350px;
    margin: 0 auto;
    
    &__buttonWrapper {
        padding: 10px;
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
    }

    &__link {
        color: var(--primary-text);
        text-decoration: underline;
        cursor: pointer;
        text-align: center;
        font-size: 0.9em;
        display: block;
        padding-top: 10px;
        margin: 0 auto;
    }
}
