.Panel {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: var(--brand-gradient-dark);

    &__wrapper {
        width: fit-content;
        height: fit-content;
        min-width: 550px;
        padding: 40px;
        background-color: var(--page-background);
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: var(--border-color);
        display: flex;
        align-items: center;
        flex-direction: column;
        box-shadow: 0px 2px 10px 5px rgba(22, 43, 118, 30%);
    }

    &__content {
        padding: 10px;
    }

    &__logo {
        margin-top: 10px;
        margin-bottom: 25px;
    }
}
