.Layout {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: auto;
  max-width: 100%;
  flex-grow: 1;

  &__left {
    height: auto;
    min-height: 100vh;
  }

  &__right {
    height: 100%;
    width: 100%;
  }

  &__content {
    flex-grow: 1;
    padding: 20px;
    position: relative;
    min-width: 0;
  }
}
