.Layout {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: auto;
  max-width: 100%;
  flex-grow: 1;

  &__left {
    height: 100vh;
    display: flex;
    width: fit-content;
    overflow-y: hidden;
  }

  &__right {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
  }

  &__content {
    flex-grow: 1;
    padding: 20px;
    position: relative;
    min-height: 0;
    display: flex;
    flex-direction: column;
  }

  &__loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
