.PageHeader {
    &__wrapper {
        padding-bottom: 20px;
    }

    &__pageTitle {
        padding-bottom: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: var(--primary-text);
        border-bottom-color: var(--border-color);
        border-bottom-style: var(--border-style);
        border-bottom-width: var(--border-width);
    }
}