/* Stylesheet for the Login Component */

/* Shared styling */
.LandingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: var(--brand-gradient-dark);
  height: 100vh;

  &__icon {
    margin-right: 10px;
  }
}

/*Format Logos*/
.LogoBar {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.Button--secondary {
  font-size: var(--font-size-m);
}
