/* Stylesheet for the Login Component */

/* Shared styling */
.LandingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: var(--brand-gradient-dark);
  min-height: 100vh;
  padding-top: 35vh;
  box-sizing: border-box;

  &__icon {
    margin-right: 10px;
  }

  &__error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Button {
    width: 150px;
  }
}

/*Format Logos*/
.LogoBar {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
