.Caret {
    position: absolute;
    right: 10px;
    top: 50%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--primary-text);
    transform: translateY(-50%);
    transition: transform 0.1s ease;

    &--up {
        transform: translateY(-50%) rotate(90deg);
    }

    &--clickable {
        pointer-events: auto;
        cursor: pointer;
    }

    &--not-clickable {
        pointer-events: none;
    }
}


