.LeftNav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: fit-content;
  text-wrap: wrap;
  max-width: 35vh;
  min-width: fit-content;
  background: var(--brand-gradient);
  gap: 10px;
  padding: 20px;

  &__link {
    padding: 15px;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    border-radius: 10px;
  }

  &__link:hover {
    background-color: var(--brand-lightest);
  }

  &__link {
    &.active {
      background-color: var(--brand-lightest);
      color: var(--brand-darkest);
    }
  }

  &__appLogo {
    padding-top: 10px;
    width: 100%;
  }

  &__navBar {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__buttonWrapper {
    display: flex;
    margin-top: auto;
  }
}
