.LeftNav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30vh;
  background: #ededed;
  gap: 20px;
  padding: 20px;

  &__link {
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
  }

  &__classNameHeader {
    font-size: 16pt;
    text-wrap: wrap;
    font-weight: 600;
    padding-bottom: 20px;
  }
}
