.Grader {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 10px;
  }
  &__title {
    display: flex;
    align-items: stretch;
    gap: 10px;
    font-size: 1.2rem;

    > a {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    h2 {
      margin-bottom: 6px;
    }
    span {
      display: block;
      margin-bottom: 0.75rem;
    }
  }
  &__nav {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;

    .Button {
      padding: 10px 38px;
      gap: 10px;

      &:first-child {
        padding-left: 28px;
      }
      &:last-child {
        padding-right: 28px;
      }
    }

    &Buttons {
      display: flex;
      flex-direction: row;
      align-items: end;
      gap: 10px;
    }
  }

  &__body {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  }

  &__toolBar {
    background: #3b3c41;
    padding-left: 10px;
    color: rgb(238, 238, 238);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__zoomButtons {
      display: flex;
      gap: 2px;
    }

    &__zoomButton {
      display: flex;
      background: rgba(255, 255, 255, 0.2);
      padding: 6px;
      transition: background 0.1s;
      user-select: none;
      cursor: pointer;

      svg {
        width: 20px;
        height: 20px;
        stroke-width: 1px;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.3);
      }
      &:active {
        background: rgba(255, 255, 255, 0.4);
      }
    }
  }

  &__viewPort {
    flex-grow: 1;
    min-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }

  .simplebar-track {
    margin-right: 5px;
  }
}
