.Selection {
  height: 100vh;
  padding: 80px;
  background: var(--brand-gradient-dark);

  &__title {
    color: var(--primary-text-white);
  }

  &__tableWrapper {
    border-radius: 5px;
    background-color: var(--page-background);
    box-shadow: 0px 2px 10px 5px rgba(22, 43, 118, 30%);
  }

  &__linkWrapper {
    margin-top: 60px;
    color: var(--primary-text-white);
    font-size: var(--font-size-s);
    text-align: center;
    text-decoration: underline;
  }

  .Selection__link {
    color: var(--primary-text-white);
    text-decoration: underline;
    cursor: pointer;
  }

  .Selection__link:hover {
    text-decoration: none;
  }

  &__actionButton {
    text-align: center;
    background-color: var(--brand);
    color: var(--primary-text-white);
    font-size: var(--font-size-s);
    width: 80px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;

    &:hover {
      background: var(--brand-gradient-bright);
      transition: background 0.5s ease;
    }
  }
}

.SubTable {
  padding-left: 60px;
  /* same padding as the chevron */
}

.TableRow {
  align-items: center;
}
