.Assignment {
  padding-bottom: 50px;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
    gap: 10px;
    border-bottom-width: var(--border-width);
    border-bottom-style: var(--border-style);
    border-bottom-color: var(--border-color);
    padding-bottom: 10px;
  }

  &__dates {
    display: flex;
    width: fit-content;
    flex-direction: row;
    gap: 10px;
    color: var(--caption-text);
    text-wrap: nowrap;
  }

  &__date {
    display: flex;
    width: fit-content;
    flex-direction: row;
    font-size: 0.6em;
    font-weight: 400;
    color: var(--caption-text);

    &--title {
      font-weight: 600;
      margin-right: 5px;
    }
  }

  &__externalButtons {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    gap: 20px;

    .Button {
      flex: 1;
    }
  }

  &____contentWrapper {
    padding: 20px;
  }

  &__metricsWrapper {
    padding: 20px;
  }

  &__assignmentsWrapper {
    padding: 20px;
  }

  &__subSectionWrapper {
    padding-bottom: 20px;
  }
}
