.Assignment {
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 50px;

  &__dates {
    display: flex;
    width: fit-content;
    flex-direction: row;
    gap: 10px;
    color: var(--caption-text);
    text-wrap: nowrap;
  }

  &__date {
    display: flex;
    width: fit-content;
    flex-direction: row;
    font-size: 0.6em;
    font-weight: 400;
    color: var(--caption-text);

    &--title {
      font-weight: 600;
      margin-right: 5px;
    }
  }

  &__externalButtons {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    gap: 20px;
    width: 100%;

    a {
      flex: 1;
      width: 100%;
    }

    .Button {
      flex: 1;
      width: 100%;
    }
  }

  &__link {
    padding-bottom: 10px;

    > h2 {
      padding-bottom: 10px;
    }
  }

  &__metrics {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
  }

  &__metricsCharts {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 10px;
  }

  &__metricsChart {
    overflow: hidden;
    position: relative;
    flex: 1;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    canvas {
      max-width: 100%;
      height: 100% !important;
    }

    &--graded {
      max-width: 30%;

      .Metric__content {
        max-width: 250px;
      }
    }
  }
}
