.Assignment {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__dates {
    display: flex;
    width: fit-content;
    flex-direction: row;
    gap: 10px;
    color: var(--caption-text);
  }

  &__date {
    display: flex;
    width: fit-content;
    flex-direction: row;
    font-size: 0.6em;
    font-weight: 400;
    color: var(--caption-text);

    &--title {
      font-weight: 600;
      margin-right: 5px;
    }
  }

  &__externalButtons {
    display: flex;
    flex-direction: row;
    gap: 20px;

    .Button {
      flex: 1;
    }
  }

  &__link {
    > h2 {
      padding-bottom: 10px;
    }
  }

  &__metricsCharts {
    display: flex;
    width: 100%;
    flex-direction: row;
  }

  &__metricsChart {
    max-width: 400px;
  }
}
