.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 38px;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--primary-font);

  &--primary {
    background: var(--brand);
    color: var(--primary-text-white);
    border: none;

    &:hover {
      background: var(--brand-gradient-bright);
    }
  }

  &--secondary {
    background: var(--page-background);
    color: var(--primary-text);
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--button-border-color);
    box-shadow: 0px 0px 10px 0px rgba(84, 96, 141, 0.05);

    &:hover {
      background: var(--secondary-button-hover-background);
    }
  }
}

/* For smaller buttons */
.small {
  font-size: var(--font-size-xs);
  height: 40px;
  padding: 12px 30px;
}
