.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 38px;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--primary-font);

  &--primary {
    background: var(--brand);
    color: var(--primary-text-white);
    border: none;

    &:hover {
      background: var(--brand-gradient-bright);
    }
  }

  &--secondary {
    background: var(--page-background);
    color: var(--primary-text);
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--button-border-color);
    box-shadow: 0px 0px 10px 0px rgba(84, 96, 141, 0.05);

    &:hover {
      background: var(--secondary-button-hover-background);
    }
  }

  &--warning-primary {
    background: var(--red);
    color: var(--primary-text-white);
    border: none;

    &:hover {
      background: var(--red-darker);
    }
  }

  &--warning-secondary {
    background: var(--page-background);
    color: var(--red);
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--red);

    &:hover {
      background: var(--red);
      color: var(--primary-text-white);
    }
  }

  &--small {
    font-size: var(--font-size-xs);
    padding: 12px 30px;
  }

  &--disabled {
    background: var(--page-background);
    color: var(--secondary-text);
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--button-border-color);
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
  }
}