.AssignmentDetails {
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
    gap: 10px;
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 10px;
  }
  &__title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
  }
  &__dates {
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    gap: 30px;
    color: #474747;

    li {
      list-style: none;
    }
  }

  &__externalButtons {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    gap: 10px;
  }

  &__submissions {
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
  }

  &__submission {
    display: table-row;
    padding: 10px;

    > div {
      display: table-cell;
      white-space: nowrap;
      padding: 15px 20px;
      border-color: white;
    }
  }

  &__submission:not(:first-child) {
    background: #eee;

    > div:first-child {
      border-left-style: solid;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      width: 99%;
      font-weight: bold;
      color: #636363;
    }

    > div:last-child {
      border-right-style: solid;
      border-bottom-right-radius: 6px;
      border-top-right-radius: 6px;
    }

    > div:not(:first-child) {
      color: #8f8f8f;
    }
  }
}
