/*
The following stylesheet defines global CSS variables and their usage through the Marks frontend app. 
Many of the defined colors are referenced from the Tailwind CSS color library for consistency and to ensure WCAG ADA complicance standards.
*/

:root {
  /* COLORS */
  /* Backgrounds */
  --page-background: #ffffff;
  --panels-background: #f5f5f5;
  --panels-darker-background: #e5e5e5;
  --panels-lighter-background: #ffffff;
  --secondary-button-hover-background: #fafafa;

  /* Text */
  --primary-text: #0a0a0a;
  --secondary-text: #262626;
  --caption-text: #737373;
  --comment-code-text: #737373;
  --primary-text-white: #ffffff;

  /* Brand */
  --brand: #405dc5;
  --brand-lighter: #3a68c5;
  --brand-lightest: #cbd6eb;
  --brand-darker: #3953b4;
  --brand-darkest: #233ea0;
  --brand-highlight: rgba(132, 135, 139, 20%);

  /* Gradients */
  --brand-gradient: linear-gradient(180deg, #f3f5fc 0%, #ced6e6 100%);
  --brand-gradient-bright: linear-gradient(160deg, #255ac5 0%, #5f8be3 100%);
  --brand-gradient-dark: linear-gradient(160deg, #0f3072 0%, #7996cf 100%);

  /* Metrics and Accents */
  --teal: #0d9488;
  --amber: #f59e0b;
  --rose: #e11d48;
  --blue: #2563eb;
  --neutral: #d4d4d4;
  --green: #15803d;
  --red: #b91c1c;

  /* TYPOGRAPHY */
  --primary-font: "Inter", Arial, Helvetica, sans-serif;
  --body-font-size: 1em;
  --font-size-xl: 2em;
  --font-size-l: 1.5em;
  --font-size-m: 1.3em;
  --font-size-s: 1.2em;
  --font-size-xs: 0.8em;

  /* BORDERS */
  --border-color: #e5e5e5;
  --border-style: solid;
  --border-width: 1px;
  --button-border-color: #d4d4d4;
}

html,
body {
  margin: 0;
  font-family: var(--primary-font);
  font-size: var(--body-font-size);
  color: var(--primary-text);
}

h1 {
  font-size: var(--font-size-l);
  font-weight: 600;
  margin-top: 20px;
}

h2 {
  font-size: var(--font-size-m);
  font-weight: 600;
  margin: 0;
}

h3 {
  font-size: var(--font-size-s);
  font-weight: 600;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.primary-border {
  border-width: 2px;
  border-style: solid;
  border-color: var(--border-neutral);
}

.add-row {
  color: var(--brand);
}

/* Custom scroll bar flex properties and styling */
.simplebar-wrapper {
  flex-grow: 1;
}
.simplebar-offset {
  display: flex;
}
.simplebar-content-wrapper {
  display: flex;
  flex-grow: 1;
}
.simplebar-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}
.simplebar-scrollbar:before {
  background-color: var(--brand-lighter);
  transition-delay: 1.5s;
  cursor: pointer !important;
}
.simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.7;
}
.simplebar-dragging .simplebar-scrollbar:before {
  opacity: 1;
}
