.CodeBrowser {
  /* ANTHRACITE :) */
  --browser-background: #18191d;
  --comment-background: #202227;
  --comment-border: #434854;

  position: relative;
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  overflow: auto;
  padding: 5px 0;
  padding-left: 10px;
  background: var(--browser-background);
  font-size: inherit;
  border-top: 1px solid #383838;

  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  code {
    white-space: pre-wrap;
    word-break: break-word;
    display: grid;
    grid-template-columns: min-content auto;
    width: 100%;
    font-size: inherit;
    padding-right: 10px;
  }
}

.scrollable {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
