.Grading {
  .Table {
    width: 100%;
  }

  .AssignmentsTable {
    > .TableRow:not(:first-child) {
      transition: background 0.1s ease;
      cursor: pointer;

      .TableCell:nth-child(2) {
        font-weight: 600;
      }

      &:hover {
        background: #f1f1f1;
      }
    }
  }

  .SubmissionTable {
    padding: 0 40px;

    .TableRow:not(:first-child) {
      .TableCell:first-child {
        font-weight: 500;
      }
    }
  }
}

.GradingAssignmentRow {
  &--expanded {
    background: #f3f3f3;
  }

  &__submissions {
    padding: 0 40px;

    .TableRow:not(:first-child) {
      .TableCell:first-child {
        font-weight: 500;
      }
    }
  }

  &__foot {
    display: flex;
    justify-content: end;
    padding-bottom: 10px;
  }
}
