.Grading {
  &__assignments {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0 10px;
  }
}

.GradingAssignmentRow {
  display: table-row-group;
  padding: 10px;

  &__inner {
    display: table-row;
  }
  &:not(:first-child) {
    border-top: 2px solid #eee;
  }

  &__cell {
    display: table-cell;
    white-space: nowrap;
    padding: 15px 20px;
  }
  &__cell:nth-child(2) {
    width: 99%;
    font-weight: bold;
    color: #636363;
    text-decoration: underline;
  }

  &__cell:not(:nth-child(2)) {
    color: #8f8f8f;
  }

  /** Submissions table within assignment table-row**/
  &__submissions {
    display: table-row;
  }

  &__submissionsList {
    display: table-cell;
  }

  &__submission {
    display: table-row;
    padding: 10px;

    > div {
      display: table-cell;
      white-space: nowrap;
      padding: 15px 20px;
    }
  }
}
