.Grading {
  .Table {
    width: 100%;
  }

  .AssignmentsTable {
    > .TableRow__group > .TableRow:not(.TableRow--labelRow) {
      cursor: pointer;
      transition: background 0.2s ease;

      &:hover {
        background: #e0e0e0;
      }
    }
  }

  .SubmissionTable {
    border-spacing: 0 2px;

    .TableRow {
      background: white;

      &__group:first-child {
        border: none;
      }
      &__group {
        border-top: 2px solid #eee;
        padding: 5px 30px;
      }
    }

    .TableCell {
      padding: 0;
    }
  }
}
