.FileTreeDirectory {
  position: relative;
  color: #d4d4d4;
  font-weight: 400;

  > .FileTree__nodeName {
    position: sticky;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__bars {
    position: absolute;
    width: 1px;
    height: calc(100% - 24px);
    background: #585858;
    z-index: 3;
  }

  &--collapsed {
    display: none;
  }

  svg {
    min-width: 10px;
    width: 10px;
    height: 10px;
    color: #d4d4d4;
  }
}

.FileTreeFile {
  color: #c4c4c4;
  font-weight: 300;
}

.FileTreeDirectory > .FileTree__nodeName,
.FileTreeFile {
  transition: background 0.2s ease;
  user-select: none;
  cursor: pointer;
  height: 24px;
  display: flex;
  align-items: center;
  background: #151515;

  &:not(&--selected):hover {
    background: #393939;
  }

  &--selected {
    background: #494949;
  }
}

.FileTree__nodeName,
.FileTree__nodeName > span {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;

  &--modified {
    color: #d5bf5d;
  }
  &--added {
    color: #73c991;
  }
}
