.Users {
  &__tableWrapper {
    padding-bottom: 20px;
  }

  &__inviteLinkWrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 30px;
  }

  &__centerAlignedCell {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.CopyLink {
  max-width: none;
}